//- div
//-    - const upDog = dog.toUpperCase();
//-    p What now!
//-    em Testing
//-    p.hello my dog's name is #{dog}
//-    img.dog(src="dog.jpg" alt=`Dog ${dog}`)

//- h2
//-    | Hello
//-    em How are you?

//- extends layout

//- block content
//-    p testing inserting text
//-    h2 Sale ends in #{h.moment().endOf('day').fromNow()}

//- block footer
//-    p ridiculousness
div
   p Hello